body {
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "empty headline empty"
    "content content content"
    "main main main";
}

.header {
  grid-area: header;
}

.curated-list {
  grid-area: content;
}
.curated-list img {
  max-width: 20%;
}

.headline {
  grid-area: headline;
  text-align: center;
}

.photo-bucket {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  grid-area: main;
}
.photo-bucket img {
  margin: 10px;
}

.row-one {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}
