.curated-list {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 70%;
  height: 75%;
  margin: auto;
}

.headline {
  text-align: center;
}

.lower-right {
  position: absolute;
  top: 270px;
  left: 220px;
}

.pic-container-top {
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 30%;
}
.pic-container-top img {
  max-width: 100%;
}

.pic-container-bottom {
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  width: 30%;
}
.pic-container-bottom img {
  max-width: 100%;
}

.photo-bucket {
  margin: auto;
}
.photo-bucket img {
  margin: 10px;
}
.photo-display {
  width: 80%;
  margin: auto;
}

.upper-right {
  position: absolute;
  top: 20px;
  left: 220px;
}
