a {
  color: black;
}

.curated-list {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 70%;
  height: 75%;
  margin: auto;
}

.headline {
  text-align: center;
}

.lower-right {
  position: absolute;
  top: 270px;
  left: 220px;
}

.pic-container-top {
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 30%;
}
.pic-container-top img {
  max-width: 100%;
}

.pic-container-bottom {
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  width: 30%;
}
.pic-container-bottom img {
  max-width: 100%;
}

.photo-bucket {
  width: 90%;
  margin-left: 5%;
}

.photo-bucket img {
  margin: 10px;
}
.photo-display {
  width: 80%;
  margin: auto;
}

.splash {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  position: relative;
}

.splash-link {
  position: absolute;
  bottom: 10px;
  left: 130px;
}

.splash-text {
  grid-row-start: 1;
  grid-column-end: 2;
  z-index: 1;
  width: 200%;
}
.spash-image-container {
  grid-column-start: 2;
  grid-column-end: 3;
}
.splash-image-container img {
  max-width: 200%;
}

.upper-right {
  position: absolute;
  top: 20px;
  left: 220px;
}
